/* html,
body,
#app,
#app>div {
    height: 100vh;
    width: 100vw;
} */

body>#root {
    width: 100vw;
    height: 100vh;
}

body {
    /* margin: 0; */
    /* display: flex; */
    /* place-items: center;
    min-width: 320px;
    min-height: 100vh; */
}

textarea {
    resize: none;
    width: calc(100% - 2px - 1rem) !important;
    background-color: white;
    height: 4rem !important;
    overflow-y: scroll !important;
    box-sizing: content-box;
    border-color: rgba(0, 0, 0, 0.23);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    letter-spacing: inherit;
}

input {
    background-color: white !important;
}

.css-j0a4z8-MuiChartsGrid-root .MuiChartsGrid-line {
    stroke-width: 0 !important;
}

.css-lp68i5-MuiLineElement-root {
    stroke-width: 4px !important;
}